* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    background-color: #dfbb9d;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#header ul {
    margin-left: 20px;
    list-style: none;
    display: flex;
}

#header ul li {
    margin-right: 20px;
    padding: 10px;
}

#header ul li:hover {
    background-color: #f7e2d6;
    border-radius: 5px;
}

#header ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #a084cf;
}

#main {
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
    display: flex;
}

#content {
    width: 70%;
}

#sidebar {
    width: 30%;
    height: 100%;
    background-color: #B09B71;
    border-top: 1px solid #9dd6df;
}

#sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#sidebar ul li{
 padding: 10px 5px;
 margin-left: 20px;
}
#sidebar ul li a{
    color: white;
    text-decoration: none;

}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content h3{
    margin-bottom: 10px;
}
@media only screen and (max-width:600px){
    #header ul li a {
        font-size: 12px;
    }
    #content p{
        font-size: 12px;
    }
}